<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b33f8a9a4.js" crossorigin="anonymous"></script>
</head>
<body class="body-home">
    <header class="header-home">
        <div class="home-logo-buscador-p-tablet">
        <div class="home-logo-buscador">
        <div class="home-logo">
            <a href="/"><img width="150" src="/images/logo-mercado-liebre.svg" alt="imagen mercado libre"></a>
        </div>
        <div class="home-header-buscador">
            <form action="">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </input>
            </form>
        </div>
        </div>
        <p class="p-header-home"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</p> </div>
        <nav>
            <ul class="home-header-nav-izq">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oﬁciales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home-header-nav-der">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compra</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
            <div class="home-header-menu">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
    </header>
    <main class="home-main">
        <section class="home-main-section-banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </section>
        <h2>Basado en tu última visita</h2>
        <section class="home-main-section-art">
        <article>
            <div class="home-main-img-producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera" >
            </div>
            <div class="home-main-carro">
                <i class="fa-solid fa-truck"></i>
            </div>
            <div class="homee-main-pre_y_desc">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
            </div>
            <h4 class="home-main-h4">Cafetera Moulinex</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook-pro">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <span class="homee-main-pre_y_desc">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            </span>
            <h4 class="home-main-h4">MacBook Pro 2019</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            <h4 class="home-main-h4">Samsung Galaxy S10</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img src="/images/img-tv-samsung-smart.jpg" alt="imagen tv-samsung-smart">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            <h4 class="home-main-h4">SmartTv Samsung 43"</h4>
        </article>
        </section>
            <h2>Ofertas</h2>
        <section class="home-main-section-art">
        <article>
            <div class="home-main-img-producto">
                <img width="300" src="/images/img-cafetera-moulinex.jpg" alt="imagen de cafetera">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <h4 class="home-main-h4">Cafetera Moulinex</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img width="300" src="/images/img-macbook-pro-2019.jpg" alt="imagen de macbook-pro">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            </div>
            <h4 class="home-main-h4">MacBook Pro 2019</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img width="300" src="/images/img-samsung-galaxy-s10.jpg" alt="imagen samsung-galaxy-s10">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            <h4 class="home-main-h4">Samsung Galaxy S10</h4>
        </article>
        <article>
            <div class="home-main-img-producto">
                <img width="300" src="/images/img-tv-samsung-smart.jpg" alt="imagen tv-samsung-smart">
            </div>
            <div class="home-main-carro"><i class="fa-solid fa-truck"></i></div>
            <div class="homee-main-pre_y_desc">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            </div>
            <h4 class="home-main-h4">SmartTv Samsung 43"</h4>
        </article>
        </section>
    </main>
    <footer>
        <div class="home-footer-div_section">
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Pagá con tarjeta o en efectivo</h4>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-gift"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Envío gratis desde $ 2.500</h4>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Seguridad, de principio a fin</h4>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.</li>
            </ul>
        </section>
        </div>
            <h4 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>