<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/5b33f8a9a4.js" crossorigin="anonymous"></script>
</head>
<body class="body-home">
    <header class="header-home">
        <div class="home-logo-buscador-p-tablet">
        <div class="home-logo-buscador">
        <div class="home-logo">
            <a href="/"><img width="150" src="/images/logo-mercado-liebre.svg" alt="imagen mercado libre"></a>
        </div>
        <div class="home-header-buscador">
            <form action="">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </input>
            </form>
        </div>
        </div>
        <p class="p-header-home"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</p> </div>
        <nav>
            <ul class="home-header-nav-izq">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oﬁciales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home-header-nav-der">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compra</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
            <div class="home-header-menu">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
    </header>
    <main class="login-main">
        <h1 class="login-main-h1">Iniciar sesión</h1> 
          <form class="login-main-form" action="/login" method="post">
           <div class="login-main-form-div">
            <input class="login-main-usuario" type="text" name="usuario" placeholder="Nombre de usuario">
            <input class="login-main-password" type="password" name="password" placeholder="Elegí tu contraseña">
            <button class="login-main-button" type="submit">Enviar</button>  
           </div>
          </form>
    </main>
    <footer>
        <div class="home-footer-div_section">
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Pagá con tarjeta o en efectivo</h4>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-gift"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Envío gratis desde $ 2.500</h4>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Seguridad, de principio a fin</h4>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.</li>
            </ul>
        </section>
        </div>
            <h4 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>