<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/5b33f8a9a4.js" crossorigin="anonymous"></script>
</head>
<body class="body-home">
    <header class="header-home">
        <div class="home-logo-buscador-p-tablet">
        <div class="home-logo-buscador">
        <div class="home-logo">
            <img width="150" src="/images/logo-mercado-liebre.svg" alt="imagen mercado libre">
        </div>
        <div class="home-header-buscador">
            <form action="" method="post">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </input>
            </form>
        </div>
        </div>
        <p class="p-header-home" class="p-header-home"><i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</p> </div>
        <nav>
            <ul class="home-header-nav-izq">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oﬁciales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home-header-nav-der">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compra</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
            <div class="home-header-menu">
                <button>
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
    </header>
    <main class="register-main">
      <h1 class="register-main-h1">Crear cuenta</h1>
      <form class="register-main-form" action="/register" method="post">
        <div class="register-main-div">
            <input type="text" name="nombre" placeholder="Nombre y apellido" required>
        </div>
        <div class="register-main-div">
            <input type="text" name="usuario" placeholder="Nombre de usuari@" required>
        </div>
        <p class="register-main-p">Fecha de nacimiento</p>
        <div class="register-main-div">
            <input type="date" name="fecha" value="2022-07-20" required>
        </div>
        <div class="register-main-div">
            <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>
        <p class="register-main-p">Perfil de usuario</p>
        <div class="register-main-div-perfilUsuario">
            <label for="comprar">Comprar</label>
            <input type="radio" name="perfilUsuario" value="Comprar" id="comprar" required>
            <label for="vender">Vender</label>
            <input type="radio" name="perfilUsuario" value="Vender" id="vender" required>
        </div>
        <p class="register-main-p">Categorías de interés</p>
        <div class="register-main-div-catInteres">
          <div class="register-main-div-hijo_catInteres"> 
            <input type="checkbox" name="interes" value="Electro" id="electro">
            <label for="electro">Electro</label>
          </div>
          <div class="register-main-div-hijo_catInteres">         
            <input type="checkbox" name="interes" value="Moda" id="moda">
            <label for="moda">Moda</label>
          </div>
          <div class="register-main-div-hijo_catInteres">         
            <input type="checkbox" name="interes" value="Hogar" id="hogar">
            <label for="hogar">Hogar</label>
          </div>
          <div class="register-main-div-hijo_catInteres">           
            <input type="checkbox" name="interes" value="Juguetería" id="jugueteria">
            <label for="jugueteria">Juguetería</label>
          </div>
          <div class="register-main-div-hijo_catInteres">  
            <input type="checkbox" name="interes" value="Vida sana" id="vidaSana">
            <label for="vidaSana">Vida sana</label>
          </div>
        </div>
        <div class="register-main-div-fotoUsuario">
            <label for="foto">Elegir foto de usuario</label>
            <input type="file" name="avatar" accept="jpg" id="foto">
        </div>
        <div class="register-main-div">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="register-main-div">
            <input type="password" name="password2" placeholder="Confirmar password" required>
        </div>
        <div class="register-main-div-enviar_borrar">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
      </form>
    </main>
    <footer>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Pagá con tarjeta o en efectivo</h4>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-gift"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Envío gratis desde $ 2.500</h4>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</li>
            </ul>
        </section>
        <section>
            <div class="home-footer-icono">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <ul>
                <li class="home-footer-li"><h4 class="home-footer-h4">Seguridad, de principio a fin</h4>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.</li>
            </ul>
        </section>
        <section>
            <ul>
                <li><h4 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4></li>
            </ul>
        </section>
    </footer>
</body>
</html>